<header>
  <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/my-exercises">Patient Dashboard</a></li>
              <li><a href="/doctor-dashboard">Doctor Dashboard</a></li>
              <li><a href="/find-patients">Researcher Area</a></li>
              <li><a href="/profile">Profile</a></li>
          </ul>
          <% if (typeof user != 'undefined') { %>
          <p class="navbar-text navbar-right">
            Welcome <a href="/profile"><span class="fa fa-user"></span><%= user.username %></a>
            <a href="/logout"><span class="fa fa-sign-out"></span>Logout</a>
          </p>
          <% } %>
      </div>
  </nav>
</header>
