<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
  <body class="container">
    <div class="page-header text-center">
      <h1><span class="fa fa-medkit"></span> RSS Feed</h1>
    </div>
    <% include ../partials/header %>

    <main>

      <div id="map" style="width: 100%; height: 60vh;"></div>

      <% include ../partials/footer %>
      <script type="text/javascript">
        <% include ../components/find-patients.js %>
      </script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsT72Vof4o2xzMnCU0oseQehAjPWZIxpQ&signed_in=true&callback=initMap"></script>
    </main>
  </body>
</html>
